table, th, td {
    border: solid white;
    background-color: darkseagreen;
    padding: .5rem 1rem;
}

table {
    margin: auto;
    border-collapse: collapse;
}

.info-img {
    width: 1rem;
}

.info-notes {
    width: 25rem;
}