table, th, td {
    border: solid white;
    background-color: darkseagreen;
    padding: .5vmin 1vmin;
}

table {
    margin: auto;
    border-collapse: collapse;
    height: 90vmin;
}

.info-img {
    width: .4vmin;
    height: .4vmin;
}

.info-notes {
    width: 25vmin;
}

.student-img {
    /* height: 22px;
    width: 22px; */
    display: block;
    height: 3vmin;
    width: 3vmin;
    object-fit: cover;
    /* border-radius: .5vmin; */
    overflow: hidden;
    margin: auto;
}

.img-td {
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

.student-name, .student-notes {
    white-space: nowrap;
}

td:hover {
    background-color: antiquewhite;
}