.NewStudentForm {
    display: grid;
    grid-template-columns: 3rem auto;
    gap: 1rem;
    align-items: center;
    margin: auto;
    width: 50vmin;
    height: 20%;
    margin-bottom: 1vmin;
}


.NewStudentForm > label {
    margin-right: 0;
    color: white;
    font-weight: bolder;
}

.NewStudentForm > button {
    width: 10rem;
    margin: auto;
    background-color: darkseagreen;
}

