.NewStudentForm {
    display: grid;
    grid-template-columns: 3rem auto;
    gap: 1rem;
    align-items: center;
    margin: auto;
    width: 30rem;
}

.NewStudentForm > input, .NewStudentForm > select {
    height: 2rem;
}

.NewStudentForm > * {
    font-size: 1rem;
}

.NewStudentForm > label {
    margin-right: 0;
    color: white;
    font-weight: bolder;
}

.NewStudentForm > button {
    width: 10rem;
    margin: auto;
    background-color: darkseagreen;
}

