.NewStudentForm {
    display: grid;
    grid-template-columns: 3rem auto;
    gap: .5rem;
    align-items: center;
    margin: auto;
    width: 40vmin;
    margin-bottom: 1vmin;
}


.NewStudentForm > label {
    margin-right: 0;
    color: white;
    font-weight: bolder;
}

.NewStudentForm > input {
    height: 3vmin;
}

.NewStudentForm > button {
    width: 18.5rem;
    margin: auto;
    background-color: darkseagreen;
}
